<!DOCTYPE html>
<html>
  <head>
    <title>NewApp</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Megrim" rel="stylesheet">
  </head>

  <body>
    <div id="wrapper">

      <!--==========-->
      <!--NAVIGATION-->
      <!--==========-->
  	 <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
  		  <ul>
         <li><%= link_to 'Products', products_path %></li>
  			 <li><%= link_to 'About', static_pages_about_path %></li>
  			 <li><%= link_to 'Contact', static_pages_contact_path %></li>
  		  </ul>
        <h1 id="bb"><a href="#">BB</a></h1>
        <%= form_with(url: products_path, method: 'get') do |form| %>
          <%= form.label :q, 'Search for:' %>
          <%= form.text_field :q, id: 'q', value: params[:q] %>
          <%= form.submit 'Search' %>
        <% end %>

      </div><!--end the navigation bar container-->
  	 </nav>

      <%= yield %>

      <footer class="container">
        <div class="footer">
    	   <p>&copy; 2017 Bike Berlin</p>
        </div>
      </footer>

      </div><!--end wrapper div-->
    
  </body>
</html>
